.DS_Store
.env
*.tar.gz
*.log.*
node_modules
npm-debug.log
github.pub
github
data/config/user
*_test
*.pyc
*.swp
.sync
.idea
*.iml
.env
.vscode/
/docs/.vitepress/cache
/docs/.vitepress/dist
/backup
/data/exchanges/*
/data/pm2/*
/data/logs/*
/data/sim/*
/data/strategies/*
!.gitkeep
/data/config/user
/data/config/mexc
/data/config/jenny
/data/config/last_config.json
/config/conf-secret.js
/commands/dexchange.js
/extensions/exchanges/pancakeswap
/CHANGELOG.md
/commands/defi.js